.input__container {
  margin-bottom: 15px;
}

.input {
  height: 50px;
  width: 100%;
  border-radius: 3px;
  background: #333;
  color: #fff;
  border: 1px solid #333;
  padding-left: 15px;
  box-sizing: border-box;
}

.input__file {
  height: 50px;
  width: 100%;
  background: #e50914;
  border: 1px solid #e50914;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.input::placeholder,
.input::-webkit-placeholder {
  color: #fff;
  opacity: 1;
}

.invalid {
  border: 1px solid red;
  background-color: #ff0033;
}
