.input__container {
  margin-bottom: 15px;
}

.input {
  height: 50px;
  width: 100%;
  border-radius: 3px;
  background: #333;
  color: #fff;
  border: 1px solid #333;
  padding-left: 15px;
  box-sizing: border-box;
}

.input__textarea {
  height: 90px;
  width: 100%;
  border-radius: 3px;
  background: #333;
  color: #fff;
  border: 1px solid #333;
  padding-left: 15px;
  box-sizing: border-box;
}

.input__textarea::-webkit-input-placeholder {
  color: #fff;
}

.input__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile__label:hover {
  color: #000;
  background-color: #ff0033;
  transition: all 0.2s;
}

.inputfile__label {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #be161e;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  padding: 15px 40px !important;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
}

.input::placeholder,
.input::-webkit-placeholder {
  color: #fff;
  opacity: 1;
}

.invalid {
  border: 1px solid red;
  background-color: #ff0033;
}

.error__message {
  color: red;
  margin: 5px 0;
}
