.searchicon__container {
  background-color: #111;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.icon {
  height: 100%;
  cursor: pointer;
}

.icon__white {
  height: 100%;
  color: white;
}
