.input__search-container {
  margin: 10px;
  margin-bottom: 30px;
}

.input__search {
  height: 50px;
  width: 100%;
  border-radius: 3px;
  background: #333;
  color: #fff;
  border: 1px solid #333;
  padding-left: 15px;
  box-sizing: border-box;
}

.input__search::placeholder,
.input__search::-webkit-placeholder {
  color: #fff;
  opacity: 1;
}
