.modal {
  position: fixed;
  z-index: 500;
  background-color: #111;
  width: 70%;
  border: 1px solid #111;
  box-shadow: 1px 1px 1px #111;
  padding: 16px;
  left: 15%;
  top: 15%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.modal__transparent {
  position: fixed;
  z-index: 500;
  width: 70%;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
  .modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}

.modal__open {
  transform: translateY(0);
  opacity: 1;
}

.modal__close {
  transform: translateY(-100vh);
  opacity: 0;
}
